.mobile_app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.skills{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.visitor_actions{
  display: flex;
  justify-content: space-between;
  gap:1rem;
  width: 65%;
  margin-top: 1rem;
}
.visitor_action{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .3s ease background-color, .3s ease color;

}

.skill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: .5rem;
  margin: .5rem;
  color: black;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s ease background-color;
}

.skill:hover{
  background-color: black;
  color: #fff;
}
.technology_img{
  width: 30px;
  height: 30px;
}
.animate{
  opacity: 0;
  transition: .5s;
  filter: blur(5px);
}
.show-animate.animate{
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out forwards;
  filter: blur(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
.collapsible_description {
  display: none;
  margin-top: 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 5px;
  
}

.toggle-btn .arrow {
  transition: transform 0.3s ease;margin: 0 auto;
}

.toggle-btn.active .arrow {
  transform: rotate(180deg); /* flips arrow */
}

#four article{
  display: flex;
  flex-direction: column;
}